@model GenresIndexViewModel
<div class="row">
    
        <h3>@ViewBag.PageTitle</h3>

        <table class="table table-hover">
            <tr>
                <th>Genre</th>
                <th>Action</th>
            </tr>
            @foreach (var genre in Model.Genres)
            {
                <tr>
                    <td>@genre.Name</td>
                    <td>
                        <a asp-controller="Genres"
                           asp-action="ShowMovies"
                           asp-route-id="@genre.Id"
                           class="btn btn-outline-info">
                            Movies
                        </a>
                    </td>
                </tr>
            }
        </table>
    
</div>
