@model GenresShowMoviesViewModel
<h1>@Model.Genre</h1>
@if(Model.Movies.Count() == 0)
{ 
    <div class="alert alert-primary" role="alert">
        No movies in genre @Model.Genre
    </div>
}
<partial name="_MovieListPartial" model="@Model.Movies" />

