@model NavigationLinksComponentViewModel
@foreach(var navigationLink in Model.NavigationLinks)
{ 
    <li class="nav-item">
        <a class="nav-link text-dark" 
           asp-controller="@navigationLink.Controller" 
           asp-action="@navigationLink.Action">@navigationLink.Name</a>
    </li>
}
